<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://wty2002.github.io//media/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/css/live2d.css">
    <link rel="stylesheet" href="https://wty2002.github.io//styles/main.css">
    <meta name="description" content="关于我的一点点……" />
    <link rel="stylesheet" href="https://wty2002.github.io//media/css/font-awesome.css">
    <title>WTY@blog</title>
</head>
<body>
    <div id="content">
        <div class="nav-large">
            <div class="row">
                <!--------------- pc端菜单栏👇 ---------------->
                <div class="side"><head>
    <link rel="stylesheet" href="https://wty2002.github.io//media/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://wty2002.github.io//styles/main.css">
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/styles/vs2015.min.css">
    
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.1/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/js/clipboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/css/live2d.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- fancybox -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>


    <!--------- 数学公式👇---- -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.css"
        integrity="sha384-9tPv11A+glH/on/wEu99NVwDPwkMQESOocs/ZGXPoIiLE8MU/qkqUcZ3zzL+6DuH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/katex.min.js"
        integrity="sha384-U8Vrjwb8fuHMt6ewaCy8uqeUXv4oitYACKdB0VziCerzt011iQ/0TqlSlv8MReCm" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js"
        integrity="sha384-aGfk5kvhIq5x1x5YdvCp4upKZYnA8ckafviDpmWEKp4afOZEqOli7gqSnh8I6enH" crossorigin="anonymous">
    </script>
    <script>
        renderMathInElement(document.body, {
            delimiters: [{
                    left: "$$",
                    right: "$$",
                    display: true
                },
                {
                    left: "$",
                    right: "$",
                    display: false
                }
            ]
        });
    </script>
    
    <!--------- 数学公式👆----------------- -->
    <!--------- daovocie功能👇 ------------------->
    
    <!--------- daovocie功能👆 ------------------->
    <!-- -----------------twikoo评论系统引入👇 --------->
    <script src="https://cdn.jsdelivr.net/npm/twikoo@1.3.0/dist/twikoo.all.min.js"></script>
    <!-- -----------------twikoo评论系统引入👆 --------->
    <!---------------- leancloud api 功能依赖引入👇 -------->
    <script src="https://cdn.jsdelivr.net/npm/leancloud-storage@3.13.1/dist/av-min.js"></script>
    <!---------------- leancloud api 功能依赖引入👆 -------->
    <!------------------ valine评论系统引入👇 ------------------>
    <script src="https://wty2002.github.io//media/js/valine.min.js"></script>
    <!------------------ valine评论系统引入👆 ------------------>
    <!---------------- 今日诗词api功能依赖👇 ----------------------->
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <!---------------- 今日诗词api功能依赖👆 ----------------------->
</head>

<style>
    body {
        overflow-x: hidden;
        height: 100vh;
        overflow-y: scroll;
        cursor: url("https://wty2002.github.io//media/images/mouse_cursor.png"), auto
    }
</style>

<body>
    <!--=------ 页面加载动态画面👇 --------------->
    <div class="pjaxloading" onclick="pjaxloadingClose()">
        <div class="loadingbackground"></div>
        <div id="loading">
            <div class="loading">
            </div>
        </div>
    </div>
    <!--=------ 页面加载动态画面👆 --------------->

    <!--------------- 左侧菜单栏👇 ------------------------>
    
    <div id=side>
        <div class="r_m_div">
            <a onclick="showAaplayer()"><i style="font-size: 20px;"><img
                        src='https://wty2002.github.io//media/images/music.png' alt="音乐播放器" class="musicbtn"></i></a>
        </div>
        <div class="avatar-border">
            <img src="https://wty2002.github.io//images/avatar.png?v=1654842385830" class="avatar">
        </div>
        <div class="sitename">WTY@blog</div>
        <span class="description" data-text='["关于我的一点点……"]'>&nbsp;</span>
        <div class="siteinfocontainer">
            <span class="siteinfo">文章</span>
            <span class="siteinfo">标签</span>
        </div>
        <div class="siteinfocontainer">
            <span class="siteinfo" id="siteinfo-postsnum"></span>
            <span class="siteinfo">3</span>
        </div>
        
        <div class="search">
            <!-- <input type="text" class="search-input" placeholder="标题搜索(●'◡'●)" /> -->
            <input type="text" class="search-input" placeholder="标题搜索 ⚆_⚆ つ♡">
            <div class="search-results"></div>
        </div>
        
    <div class="share-button">
        <span>Hello😊୧(๑•̀⌄•́๑)૭</span>
        
        <a href="https://github.com/WTY2002" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="https://wty2002.github.io//media/images/github.png" alt=""></i></a>
        
        
        <a onclick="showqq()"><i style="font-size: 20px;"><img class="icon"
                    src="https://wty2002.github.io//media/images/QQ.png" alt=""></i></a>
        
        
        
        <a href="https://space.bilibili.com/414469155" target="_blank"><i style="font-size: 20px;"><img class="icon"
                    src="https://wty2002.github.io//media/images/bilibili.png" alt=""></i></a>
        
        
        <a onclick="showWechat()"><i style="font-size: 20px;"><img class="icon"
                    src="https://wty2002.github.io//media/images/wechat.png" alt=""></i></a>
        
        
        
        
    </div>
    <div id="qq" style="display:none">2012180708</div>
    <!------------ 加载菜单按钮👇 ------------------------->
    <div class="menucontainer">
        
        
        <div class="mchocie description">
            <a data-pjax href="https://wty2002.github.io/" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="首页"></i>&nbsp;<span
                    data-text="首页">首页</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="/archives" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="归档"></i>&nbsp;<span
                    data-text="归档">归档</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="/tags" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="标签"></i>&nbsp;<span
                    data-text="标签">标签</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="/post/about" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="关于"></i>&nbsp;<span
                    data-text="关于">关于</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="https://blog.csdn.net/qq_52296769?spm=1000.2115.3001.5343" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="CSDN"></i>&nbsp;<span
                    data-text="CSDN">CSDN</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="https://www.yuque.com/wty2002" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="语雀"></i>&nbsp;<span
                    data-text="语雀">语雀</span>
            </a>
        </div>
        
        
        
        <div class="mchocie description">
            <a data-pjax href="https://wty2002.github.io/post/ji-zhu-fen-xiang" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="技术分享"></i>&nbsp;<span
                    data-text="技术分享">技术分享</span>
            </a>
        </div>
        
        

        
        <div class="mchocie description">
            <a data-pjax href="https://wty2002.github.io//talk" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="说说"></i>&nbsp;<span data-text="说说">说说</span>
            </a>
        </div>
        
            
        <div class="mchocie description">
            <a data-pjax href="https://wty2002.github.io//friends" class="menubutton" style="margin-right: 15px;">
                <i><img class="icon menuicon" src="" alt="友人帐"></i>&nbsp;<span data-text="友人帐">友人帐</span>
            </a>
        </div>
        
        
    </div>
    <!------------ 加载菜单按钮👆 ------------------------->
    <hr>
    <style>
    .copyright {
        font-size: 15px;
        color: #d9d9d9;
    }


    @media screen and (min-width: 1200px) {
        .foot {
            width: 100%;
            height: 130px;
        }
    }

    @media screen and (max-width: 1200px) {
        .foot {
            display: none;
        }
    }
</style>

<body>
    <div class="foot">
        <div id="footinfo"><div id="footinfo">Author © WTY2002
<!-- RSS -->
<a href="/atom.xml" target="_blank">😀</a>
<a href="https://music.cxl2020mc.top" target="_blank" style="color:#b8ff00;">随机音乐</a>

<br>


<div style="width: 75%; position: relative;margin: auto;">
    <canvas id="canvasDiyBlock" style="width:100%;" width="820" height="250">当前浏览器不支持canvas，请更换浏览器后再试</canvas>
    <script src="https://cdn.jsdelivr.net/gh/gd1214b/gd1214b.github.io@latest/media/js/magic/clock.js"></script>
 </div>





<!-- 一言api -->
<span id="text">如果温柔是罪，那就只能用拳头来洗清我们犯下的罪孽。</span></br>
<!-- 新 API 方法， 十分简洁 -->
<script src="https://v1.hitokoto.cn/?encode=js&amp;select=%23text" defer=""></script>
</div>
<!-- <br> -->
<!-- 中线(区分显示与不显示） -->
<hr>
<!-- Powered by Gridea -->
Powered by <a href="https://gridea.dev" target="_blank">Gridea</a>
<!-- crisp -->
<!-- <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="2088356c-953a-46f1-82db-24b5f1e1f2bc";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script> --> | Theme: <a
                href="https://github.com/850552586/gridea-theme-fog">Fog</a>
            <div>
                
                <div id="sitegotimeDate">载入天数...</div>
                <div id="sitegotimes">载入时分秒...</div>
                <div id="cussitetime" style="display:none">06/01/2021</div>
                
            </div>
            <div>
                
                <script async
                    src="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/js/busuanzi.pure.mini.js"></script>
                <div id="vistornum" style="margin:0">
                    <span id="busuanzi_container_site_uv">
                        <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> 总访问量:<span
                            id="busuanzi_value_site_pv"></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <i class="fa fa-user-o" aria-hidden="true"></i> 访问人数:<span id="busuanzi_value_site_uv"></span>
                    </span>
                </div>
                
            </div>
            <div class="copyright" style="color:white;text-align: center;">
            </div>
        </div>



    </div>
</body>

<script>
    //----------------------站点运行时间
    var now = new Date();

    function createtime() {
        var sitegotime = document.getElementById("cussitetime").innerHTML + " 00:00:00";
        var grt = new Date(sitegotime); //此处修改你的建站时间或者网站上线时间 
        now.setTime(now.getTime() + 250);
        days = (now - grt) / 1000 / 60 / 60 / 24;
        dnum = Math.floor(days);
        hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
        hnum = Math.floor(hours);
        if (String(hnum).length == 1) {
            hnum = "0" + hnum;
        }
        minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
        mnum = Math.floor(minutes);
        if (String(mnum).length == 1) {
            mnum = "0" + mnum;
        }
        seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
        snum = Math.round(seconds);
        if (String(snum).length == 1) {
            snum = "0" + snum;
        }
        document.getElementById("sitegotimeDate").innerHTML = "本站已安全运行 " + dnum + " 天 ";
        document.getElementById("sitegotimes").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
    }

    let intervalId = setInterval("createtime()", 250);
</script>

    </div>


    <script src="https://wty2002.github.io//media/js/wordshow.js"></script>
    
    <!--------------- 左侧菜单栏👆 ------------------------>

    <!----------------- 顶部菜单栏👇 ------------------------>
    
    <!----------------- 顶部菜单栏👆 ------------------------>

<!--核心功能加载-->
<script src="https://wty2002.github.io//media/js/mainfunc.js"></script>

<!------------- Fog1.0版本彩蛋👇 -------------->
    <section id="terrestrial" class="popup">
        <a href="#" class="back">&lt; back</a>
    </section>

    <div class="flycontainer">
        <div class="flyword">御风飞行中...</div>
    </div>

    <script>
        $("#fog_go").click(function(){fog_go()});
        async function fog_go(){
            $(".bars").hide()
            $("#live2d").hide()
            await sleep(3000);
            $(".flycontainer").css("display","flex");
            $(".popup").fadeOut(500)
            await sleep(2000);
            var sitename = "WTY@blog";
            getFogUser(sitename);
        }

        function fog_goregis(){
            var sitename = "WTY@blog";
            var siteurl = "https://wty2002.github.io/";
            regisFogUser(sitename,siteurl);
        }
        fog_goregis();
    </script>
<!------------- Fog1.0版本彩蛋👆 -------------->


<!------ 根据自定义配置声明变量👇 --------------------->
    
    <script>
        let shareChoice = true
    </script>
    
    
    <script>
        let donateChoice = true
    </script>
    
    
    <script>
        let searchChoice = true
    </script>
    
    <script>let postsnum = 0;</script>
    <div id="side-posttitle" style="display: none;">
    
    
    技术分享
    <script>
        postsnum += 1
    </script>
    
    
    
    放码过来！
    <script>
        postsnum += 1
    </script>
    
    
    
    C++案例
    <script>
        postsnum += 1
    </script>
    
    
    
    免责声明
    <script>
        postsnum += 1
    </script>
    
    
    
    博客使用帮助
    <script>
        postsnum += 1
    </script>
    
    
    
    关于
    <script>
        postsnum += 1
    </script>
    
    
    
    Hello Gridea
    <script>
        postsnum += 1
    </script>
    
    
    </div>
    
        <script>
            let menupos = 'left';
            $("#siteinfo-postsnum").html(postsnum);
        </script>
    
    <!------ 根据自定义配置声明变量👆 --------------------->


    <!----------根据自定义配置设置图标信息👇---------->
    <script>
        var icondict = new Array();
    </script>
    
    <script>
        var iconname = "首页";
        var iconurl = "Home";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "归档";
        var iconurl = "Archive";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "标签";
        var iconurl = "Tag";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "关于";
        var iconurl = "About";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "说说";
        var iconurl = "Talk";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "友人帐";
        var iconurl = "Friends";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "CSDN";
        var iconurl = "http://img.wty2002.top//picture/csdn.ico";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "语雀";
        var iconurl = "http://img.wty2002.top//picture/yuque.ico";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "御风飞行";
        var iconurl = "http://img.wty2002.top//picture/御风飞行.png";
        icondict[iconname] = iconurl;
    </script>
    
    <script>
        var iconname = "技术分享";
        var iconurl = "http://img.wty2002.top//picture/分享.ico";
        icondict[iconname] = iconurl;
    </script>
    
    <!----------根据自定义配置设置图标信息👆---------->
</body>

<script src="https://wty2002.github.io//media/share/dist/Share.js"></script>
<!-- 页面pjax测试 -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.js"></script>
<!--确保jQuery已经在此之前加载-->
<!-- <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script> -->
<script src="https://wty2002.github.io//media/js/all-pjax.js"></script>
<script>
    //-------------------------------说说功能👇--------------------------------------
    let talksall = [];
    let talks = [];
    let talkindex = 0;
    get();

    function get() {
        var t = JSON.parse('[{"author":"WTY2002","img":"http://img.wty2002.top//picture/1.jpg","text":"小站终于成立了！！！","time":"2021.06.01"},{"author":"WTY2002","img":"http://img.wty2002.top//picture/28.jpg","text":"再牛逼的技术，也抵不过傻逼似的坚持！","time":"2021.06.18"}]');
        talkindex = t.length - 1;
        for (var i = 0; i <= t.length - 1; i++) {
            var d = {};
            d["time"] = t[i].time;
            d["author"] = t[i].author;
            d["text"] = t[i].text;
            d["img"] = t[i].img;
            talksall.push(d);
        }
    }

    function add() {
        for (var i = talkindex; i >= 0 && i > talkindex - 3; i--) {
            talks.push(talksall[i]);
        }
        talkindex = (talkindex - 3) >= 0 ? (talkindex - 3) : -1;
        if (talkindex < 0) $("#getmorebt").hide();
        show();
    }

    function show() {
        var talkT = document.getElementById("talkContainer");
        talkT.innerHTML = "";
        for (var i = 0; i < talks.length; i++) {
            if (talks[i].img != '') {
                talkT.innerHTML += '\
            <div class="talk" v-for="t in talks"> \
                <span data-fancybox="images" href="' + talks[i].img + '"><img src="' + talks[i].img + '" class="talkimg"></span> \
                <div class="ainfo">\
                    <div class="ainfo-intro">\
                        <div class="author">' + talks[i].author + '</div>·\
                        <div class="time">' + talks[i].time + '</div>\
                    </div>\
                </div>\
                <div class="talkcontent">' + talks[i].text + '\
                </div\>\
            ';
            } else {
                talkT.innerHTML += '\
            <div class="talk" v-for="t in talks"> \
                <div class="ainfo">\
                    <div class="ainfo-intro">\
                        <div class="author">' + talks[i].author + '</div>·\
                        <div class="time">' + talks[i].time + '</div>\
                    </div>\
                </div>\
                <div class="talkcontent">' + talks[i].text + '\
                </div\>\
            ';
            }
        }
    }
    //-------------------------------说说功能👆--------------------------------------
</script>

<!---->
<script>
    function replaceAvatar() {
        twikoo_avatar = $(".tk-avatar-img");
        for (var i = 0; i < twikoo_avatar.length; i++) {
            var asrc = twikoo_avatar.eq(i).attr('src');
            if (asrc.search('cn.gravatar.com') != -1) {
                twikoo_avatar.eq(i).attr('src', 'https://wty2002.github.io//media/images/comavatar.png');
            }
        }
    }

    function showWechat() {
        var wechat = 'WTY2012180708';
        alert("博主微信号：" + wechat);
        return false;
    }
</script>

<script>
    /**
     * https://github.com/tangkaichuan/gridea-search
     */
    // 检查缓存是否最新
    function checkCache() {
        var caches_postsnum = localStorage.getItem("postsnum");
        var pt = document.getElementById("side-posttitle").innerHTML;
        pt = pt.replace(/\s+/g, '').replace(/<script>.*?<\/script>/gi, "")
        var ptlen = pt.length;
        var ptlen_storage = localStorage.getItem("poststitlelen");
        if (caches_postsnum != postsnum || ptlen != ptlen_storage) {
            console.log("更新缓存");
            return false
        }
        return true;
    }

    (function () {
        var CACHES = checkCache()
        if (!CACHES) {
            var NOW = Date.now()
            var API_CONTENT = '../api-content/index.html' + '?_=' + NOW
            preload(API_CONTENT);
            getContents(show_getContentresult);
        }

        function show_getContentresult(data) {
            console.log("获取成功");
            var postslen = data["posts"].length;
            localStorage.setItem('postsnum', postslen);
            var poststitlelen = 0;
            var pt = document.getElementById("side-posttitle").innerHTML;
            pt = pt.replace(/\s+/g, '').replace(/<script>.*?<\/script>/gi, "");
            localStorage.setItem('poststitlelen', pt.length);
        }



        // preload
        function preload(url) {
            var preloadLink = document.createElement('link')
            preloadLink.href = url
            preloadLink.rel = 'preload'
            preloadLink.as = 'fetch'
            preloadLink.crossOrigin = 'anonymous'
            document.head.appendChild(preloadLink)
        }

        // 异步 GET 请求
        function get(obj) {
            var xhr = new XMLHttpRequest()
            xhr.open('get', obj.url, true)
            xhr.send(null)
            xhr.onreadystatechange = function () {
                // 异步请求：响应状态为4，数据加载完毕
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        obj.success(xhr.responseText)
                    } else {
                        obj.error(xhr.status)
                    }
                }
            }
        }

        // 获取博客全文 api
        function getContents(callback) {
            if (CACHES) {
                callback(CACHES.contents)
            } else {
                get({
                    url: API_CONTENT,
                    success: function (data) {
                        callback(JSON.parse(data));
                        localStorage.setItem('ContentsCache', data);
                        getStorageContent();
                    }
                })
            }
        }
    })()
    //------------------------核心功能--pjax全局渲染👇-------------------
    let talkinit = false;
    $(document).pjax('a[data-pjax]', '#main', {
        fragment: '#main',
        timeout: 8000
    }).on('pjax:complete', function () {
        //代码块高亮渲染
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
        //文章热度
        getHotnum();
        //文章索引
        toginit();
        //清空搜索栏
        if (searchChoice) {
            searchInit();
            searchInput.value = "";
        }
        var pl = window.location.pathname;
        //说说更新
        if (pl.search("talk") != -1 && !talkinit) {
            add();
            talkinit = true;
        } else if (pl.search("talk") != -1) {
            show();
        }
        if (pl.search("post") != -1) {
            if (shareChoice)
                shareInit();
            if (donateChoice)
                donateInit();
            imglazyloadinit();
            lazyload();
            codeinit();
            if ("twikoo" == "twikoo") {
                //twikoo头像更换
                setTimeout(replaceAvatar, 3000);
                setTimeout(replaceAvatar, 8000); //部分博主站点速度加载过慢，再添加一个延迟
            }
        }
        if (btstate == true)
            dropdown();
    }).on('pjax:start', function () {
        $(".pjaxloading").fadeIn(50);
    }).on('pjax:end', function () {
        $(".pjaxloading").fadeOut(50);
    });
    //------------------------核心功能--pjax全局渲染👆-------------------

    //-------------------------------------------------搜索
    // 获取搜索框、搜索按钮、清空搜索、结果输出对应的元素
    if (searchChoice) {
        var searchInput = document.querySelector('.search-input');
        var searchResults = document.querySelector('.search-results');
    }
    // 申明保存文章的标题、链接、内容的数组变量
    var searchValue = '',
        arrItems = [],
        arrLinks = [],
        arrTitles = [],
        arrContents = [],
        arrResults = [],
        indexItem = [],
        itemLength = 0;
    var tmpDiv = document.createElement('div');
    tmpDiv.className = 'result-item';


    function getStorageContent() {
        var data = localStorage.getItem('ContentsCache');
        data = JSON.parse(data);
        posts = data["posts"];
        for (var i = 0; i < posts.length; i++) {
            arrLinks[i] = posts[i].link;
            arrTitles[i] = posts[i].title;
            arrContents[i] = posts[i].content;
            itemLength++;
        }
    }
    if (checkCache())
        getStorageContent();
    // 输入框内容变化后就开始匹配，可以不用点按钮
    // 经测试，onkeydown, onchange 等方法效果不太理想，
    // 存在输入延迟等问题，最后发现触发 input 事件最理想，
    // 并且可以处理中文输入法拼写的变化
    searchInput.oninput = function () {
        setTimeout(searchConfirm, 0);
    }
    searchInput.onfocus = function () {
        searchResults.style.display = 'block';
    }

    function searchConfirm() {
        if (searchInput.value == '') {
            searchResults.style.display = 'none';
        } else if (searchInput.value.search(/^\s+$/) >= 0) {
            // 检测输入值全是空白的情况
            searchInit();
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerText = '请输入有效内容...';
            searchResults.appendChild(itemDiv);
        } else {
            // 合法输入值的情况
            searchInit();
            searchValue = searchInput.value;
            // 在标题、内容中查找
            searchMatching(arrTitles, arrContents, searchValue);
        }
    }

    // 每次搜索完成后的初始化
    function searchInit() {
        arrResults = [];
        indexItem = [];
        searchResults.innerHTML = '';
        searchResults.style.display = 'block';
    }

    function searchMatching(arr1, arr2, input) {
        // 忽略输入大小写
        input = new RegExp(input, 'i');
        var step = 10;
        // 在所有文章标题、内容中匹配查询值
        for (i = 0; i < itemLength; i++) {
            var indexContent = arr2[i].search(input);
            //标题匹配
            if (arr1[i].search(input) != -1) {
                indexItem.push(i); // 保存匹配值的索引
                if (indexContent != -1) {
                    startindex = (indexContent - step) >= 0 ? (indexContent - step) : 0;
                    var searchcontent = arr2[i].slice(indexContent - step, indexContent + 5)
                    arrResults.push("....." + searchcontent + ".....");
                } else
                    arrResults.push("");
            }
            //内容匹配
            else if (indexContent != -1) {
                indexItem.push(i); // 保存匹配值的索引

                startindex = (indexContent - step) >= 0 ? (indexContent - step) : 0;
                var searchcontent = arr2[i].slice(indexContent - step, indexContent + 5)
                arrResults.push("....." + searchcontent + ".....");
            }
        }

        // 输出总共匹配到的数目
        var totalDiv = tmpDiv.cloneNode(true);
        totalDiv.innerHTML = '<b>总匹配：' + indexItem.length + ' 项<hr></b>';
        searchResults.appendChild(totalDiv);

        // 未匹配到内容的情况
        if (indexItem.length == 0) {
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerText = '未匹配到内容...';
            searchResults.appendChild(itemDiv);
        }

        // 将所有匹配内容进行组合
        for (i = 0; i < arrResults.length; i++) {
            var itemDiv = tmpDiv.cloneNode(true);
            itemDiv.innerHTML = '<a data-pjax class="searchresults" href="' + arrLinks[indexItem[i]] + '"><b>[' +
                arrTitles[indexItem[i]] +
                ']</b><p>' + arrResults[i] + '</p></a><hr />';
            searchResults.appendChild(itemDiv);
        }
    }
</script>



<!--------------------- 菜单栏图标加载功能👇 ----------------------->
<script>
var menulist = $(".menuicon");
var menulength = menulist.length;
for (var i = 0; i < menulength; i++) {
    var altname = menulist.eq(i).attr("alt");
    var iconurl = icondict[altname];
    if (iconurl == undefined || iconurl == '')
        continue;
    if (iconurl == 'Home') {
        menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/Home.png");
menulist.eq(i).show();
} else if (iconurl == 'Archive') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/Archive.png");
menulist.eq(i).show();
} else if (iconurl == 'Tag') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/Tag.png");
menulist.eq(i).show();
} else if (iconurl == 'About') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/About.png");
menulist.eq(i).show();
} else if (iconurl == 'Talk') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/Talk.png");
menulist.eq(i).show();
} else if (iconurl == 'Friends') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/Friends.png");
menulist.eq(i).show();
} else if (iconurl == 'Fly') {
menulist.eq(i).attr("src", "https://wty2002.github.io//media/images/wind.png");
menulist.eq(i).show();
} else {
menulist.eq(i).attr("src", iconurl);
menulist.eq(i).show();
}
}
</script>
<!--------------------- 菜单栏图标加载功能👆 -----------------------></div>
                <!--------------- pc端菜单栏👆 ---------------->
                <!----------- 移动端导航栏👇 ----------------->
                <div class="mobilebar"><head>
  <!-- 引入Bootstrap核心样式文件 -->
  <link rel="stylesheet" href="https://wty2002.github.io//media/css/bootstrap.min.css">
</head>
<style>
  .navmobile {
    z-index: 15;
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  @media screen and (max-width: 1200px) {
    .navbar {
      max-width: 100vw;
    }
  }

  @media screen and (max-width:1200px) and (min-width: 768px) {
    @media (min-width: 768px) {
      .navbar-nav {
        float: right;
        margin: 0;
      }
    }
  }

  @media screen and (max-width:768px) {
    .mbapspan {
      padding: 0;
    }
  }
</style>
<div class="pjaxloading"  onclick="pjaxloadingClose()">
  <div class="loadingbackground"></div>
  <div id="loading">
    <div class="loading">
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top navmobile">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barmenu"
        aria-expanded="false" id="barbutton">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a data-pjax class="navbar-brand" href="https://wty2002.github.io/">WTY@blog&nbsp;&nbsp;|</a>
      <span class="navbar-brand mbapspan"><i id="mbaplayer" class="fa fa-play-circle-o" aria-hidden="true"
          style="font-size: 28px;top: 12px;position: absolute;" onclick="aplayerPlay();"></i></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="barmenu">
      <ul class="nav navbar-nav">
        
        
        <li>
          <a data-pjax href="https://wty2002.github.io/">
            首页
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="/archives">
            归档
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="/tags">
            标签
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="/post/about">
            关于
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="https://blog.csdn.net/qq_52296769?spm=1000.2115.3001.5343">
            CSDN
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="https://www.yuque.com/wty2002">
            语雀
          </a>
        </li>
        
        
        
        <li>
          <a data-pjax href="https://wty2002.github.io/post/ji-zhu-fen-xiang">
            技术分享
          </a>
        </li>
        
        
        
        <li><a data-pjax href="https://wty2002.github.io//talk">说说</a></li>
        
          
        <li><a data-pjax href="https://wty2002.github.io//friends">友链</a></li>

        
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!-- 引入jQuery核心js文件 -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script>
    let btstate = false;
    var bt = $("#barbutton");
    var bm = $("#barmenu");
    bt.click(function () {
      dropdown();
    })
    function dropdown() {
      console.log(btstate);
      //下拉
      if (btstate == false) {
        bt.removeClass("collapsed");
        bt.attr("aria-expanded", "true");
        bm.attr("aria-expanded", "true")
        bm.fadeIn(700);
        btstate = true;
      }
      else {
        bt.addClass("collapsed");
        bt.attr("aria-expanded", "false");
        bm.removeClass("in");
        bm.hide();
        bm.attr("aria-expanded", "false");
        btstate = false;
      }
    }
  </script> 
                <!----------- 移动端导航栏👆 ----------------->
                </div>
                <!-- ----------------左侧菜单栏html 👇-------------------------------------->
                
                <div id="tab1" class="tab">
                    <div class="bars">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="close"></div>
                </div>
                <div class="col-md-1 col-lg-3"></div>
                <div id="main" class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                    <body>
    <div id="friendscontainermobile">
        
        
        <div class="friend-box" onclick="window.location.href= 'https://blog.csdn.net/qq_52296769?spm=1000.2115.3001.5343';return false">
            <img class="friend-avatar" src="http://img.wty2002.top//picture/touxiang.jpg">
            <div class="flink-info">
                <a href="https://blog.csdn.net/qq_52296769?spm=1000.2115.3001.5343" class="title" target="_blank">CSDN</a>
                <div style="margin-top:10px"></div>
                <p>成长回忆录！</p>
            </div>
        </div>
        
        <div class="friend-box" onclick="window.location.href= 'https://www.yuque.com/wty2002';return false">
            <img class="friend-avatar" src="http://img.wty2002.top//picture/yuque.ico">
            <div class="flink-info">
                <a href="https://www.yuque.com/wty2002" class="title" target="_blank">语雀</a>
                <div style="margin-top:10px"></div>
                <p>我的小型知识库！</p>
            </div>
        </div>
        
        <div class="friend-box" onclick="window.location.href= 'https://spookerv5.github.io/';return false">
            <img class="friend-avatar" src="https://spookerv5.github.io/images/avatar.png?v=1612974654418">
            <div class="flink-info">
                <a href="https://spookerv5.github.io/" class="title" target="_blank">Lenger的后花园</a>
                <div style="margin-top:10px"></div>
                <p>如果是你的话，一定没问题</p>
            </div>
        </div>
        
        <div class="friend-box" onclick="window.location.href= 'https://www.cxl2020mc.top';return false">
            <img class="friend-avatar" src="https://www.cxl2020mc.top/images/avatar.png">
            <div class="flink-info">
                <a href="https://www.cxl2020mc.top" class="title" target="_blank">陈鑫磊的博客</a>
                <div style="margin-top:10px"></div>
                <p>这个人太懒了，什么都没有写……</p>
            </div>
        </div>
        
        <div class="friend-box" onclick="window.location.href= 'https://ericam.top';return false">
            <img class="friend-avatar" src="https://ericam.top/images/avatar.png?v=1620299368737">
            <div class="flink-info">
                <a href="https://ericam.top" class="title" target="_blank">Ericam_blog</a>
                <div style="margin-top:10px"></div>
                <p>十步一代码，千里不bug</p>
            </div>
        </div>
        
        <div class="friend-box" onclick="window.location.href= 'https://www.alexation.cn/';return false">
            <img class="friend-avatar" src="https://www.alexation.cn/medias/avatars/hwsun.jpg">
            <div class="flink-info">
                <a href="https://www.alexation.cn/" class="title" target="_blank">Alexationのblog</a>
                <div style="margin-top:10px"></div>
                <p>没人牵手手，那咱揣兜兜</p>
            </div>
        </div>
        
        
    </div>

    <div id="pcintroimg">
        <div class="sea">
            <p class="title">友人帐</p>
            <span class="wave"></span>
            <span class="wave"></span>
            <span class="wave"></span>
        </div>
    </div>

    <div id="friendscontainer">
        <div id="friendsrule">

        </div>
        
        
        <div class="background" onclick="window.open('https://blog.csdn.net/qq_52296769?spm=1000.2115.3001.5343');return false">
            <div class="infoForm" title="成长回忆录！">
                <img class="favatar" src="http://img.wty2002.top//picture/touxiang.jpg">
                <h2>CSDN</h2>
                <h3>成长回忆录！</h3>
            </div>
        </div>
        
        <div class="background" onclick="window.open('https://www.yuque.com/wty2002');return false">
            <div class="infoForm" title="我的小型知识库！">
                <img class="favatar" src="http://img.wty2002.top//picture/yuque.ico">
                <h2>语雀</h2>
                <h3>我的小型知识库！</h3>
            </div>
        </div>
        
        <div class="background" onclick="window.open('https://spookerv5.github.io/');return false">
            <div class="infoForm" title="如果是你的话，一定没问题">
                <img class="favatar" src="https://spookerv5.github.io/images/avatar.png?v=1612974654418">
                <h2>Lenger的后花园</h2>
                <h3>如果是你的话，一定没问题</h3>
            </div>
        </div>
        
        <div class="background" onclick="window.open('https://www.cxl2020mc.top');return false">
            <div class="infoForm" title="这个人太懒了，什么都没有写……">
                <img class="favatar" src="https://www.cxl2020mc.top/images/avatar.png">
                <h2>陈鑫磊的博客</h2>
                <h3>这个人太懒了，什么都没有写……</h3>
            </div>
        </div>
        
        <div class="background" onclick="window.open('https://ericam.top');return false">
            <div class="infoForm" title="十步一代码，千里不bug">
                <img class="favatar" src="https://ericam.top/images/avatar.png?v=1620299368737">
                <h2>Ericam_blog</h2>
                <h3>十步一代码，千里不bug</h3>
            </div>
        </div>
        
        <div class="background" onclick="window.open('https://www.alexation.cn/');return false">
            <div class="infoForm" title="没人牵手手，那咱揣兜兜">
                <img class="favatar" src="https://www.alexation.cn/medias/avatars/hwsun.jpg">
                <h2>Alexationのblog</h2>
                <h3>没人牵手手，那咱揣兜兜</h3>
            </div>
        </div>
        
        
    </div>
</body>


<script>
    var friendsrule = "🤞❤️欢迎大家与我交换友链~"
    $("#friendsrule").html(friendsrule);
</script>
                    <div id="comment" class="comment" >
                        <div class="commentcontainer">
                            
                                
                                    <!-- 文章热度功能和评论整合 -->
<style>
  .twikoo p {text-align: left;}
</style>
<body>
<div id="tcomment"></div>
</body>
<script>
twikoo.init({
  envId: 'twikoo-5g1xsimac4ba2cd9',
  el: '#tcomment',
  // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，如果您的环境地域不是上海，需传此参数
  // path: 'window.location.pathname', // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
})
</script>

<script>
  var appid = 'H2uG6nOgY7f40BhGLB9dkno4-gzGzoHsz';
  var appkey = 'EhwvbHzQx4du2Kdn5dLNhBs8';
  if(typeof(AVinit)=="undefined"){
    AV.init({
      appId: appid,
      appKey: appkey
  });
  AVinit = true;
}
</script>
                                    <div class="clear"></div>
                                
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-lg-1"></div>
                <div id="bg">
                </div>
            </div>
            <!-- ----------------左侧菜单栏html 👆-------------------------------------->
            <!------------------ 顶部菜单栏html👇--------->
            
        <!------------------ 顶部菜单栏html👆--------->
        
        <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
</head>

<body>
    <div class="miniMode">
        <meting-js id="myaplayer" server="netease" type="playlist" fixed="true" order="default" muted="muted">
        </meting-js>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script>
    function aplayerInit() {
        var aplayerid = "6793938455";
        var aplayerserver = "netease";
        var aplayerorder = "random";
        var aplayerautoplay = "true";
        var aplayer = $("#myaplayer");
        aplayer.attr("server", aplayerserver);
        aplayer.attr("id", aplayerid);
        aplayer.attr("order", aplayerorder);
        if (aplayerautoplay == "true")
            aplayer.attr("autoplay", "true");
    }
    aplayerInit();
</script>

<script src="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/js/Aplayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<script>
    function aplayerbtnInit() {
        var player = document.querySelectorAll('meting-js')[0].aplayer;
        if(player==undefined)return false;
        player.lrc.hide();
        var mbabtn = $("#mbaplayer");
        if (player.paused == false) {
            mbabtn.removeClass("fa-play-circle-o");
            mbabtn.addClass("fa-pause-circle");
        } else {
            mbabtn.addClass("fa-play-circle-o");
            mbabtn.removeClass("fa-pause-circle");
        }
    }

    function aplayerPlay() {
        var player = document.querySelectorAll('meting-js')[0].aplayer;
        var mbabtn = $("#mbaplayer");
        if (player.paused == true) {
            player.play();
            mbabtn.removeClass("fa-play-circle-o");
            mbabtn.addClass("fa-pause-circle");
        } else {
            player.pause();
            mbabtn.addClass("fa-play-circle-o");
            mbabtn.removeClass("fa-pause-circle");
        }
    }
</script>
        

    </div>
    
    <div class="tog">
        <div class="toggleContainer">
            <div class="toggle">
                <i class="fas fa-angle-double-up"></i>
            </div>
        </div>
    </div>
    <div id="bgchoice" style="display: none">link</div>
    
    <div id="bgurl" style="display:none">http://img.wty2002.top//picture/12.png</div>
    
    </div>
    <div id="landlord">
        <div class="message" style="opacity:0"></div>
        <canvas id="live2d" width="240" height="250" class="live2d"></canvas>
    </div>
    <div id="domainname" style="display:none">https://wty2002.github.io/</div>
</body>
</html>

<!-------------------- live2d功能👇 --------------------------->

<script type="text/javascript">
    var message_Path = '/live2d/'
    var home_Path = document.getElementById("domainname").innerHTML+"/"; //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/850552586/ericamcdn@0.1/js/live2d.js"></script>
<script type="text/javascript" src="https://wty2002.github.io//media/live2d/js/message.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "https://wty2002.github.io//media/live2d/assets/tororo.model.json");
</script>

<!-------------------- live2d功能👆 --------------------------->

<!------------ 加载全局背景图功能👇（开始时没有写好，这功能有点鸡肋/(ㄒoㄒ)/~~） -->
<script>
        var bgchoice=$('#bgchoice').html();
        var bg = $('#bg');
        var bgurl = document.getElementById("bgurl").innerHTML;
        if(bgchoice=='default')
            for (var i = 0; i < 3; i++)
                bgurl = bgurl.replace("\\", "/");
        bg.css("background", "url('" + bgurl + "')");

        window.onload = function(){
            aplayerbtnInit();
        }
</script>
<!------------ 加载全局背景图功能👆（开始时没有写好，这功能有点鸡肋/(ㄒoㄒ)/~~） -->

    <script src="https://wty2002.github.io//media/js/index.js"></script>
